absl-py==0.13.0
addict==2.4.0
arrow==1.1.1
astunparse==1.6.3
backports.zoneinfo==0.2.1
beautifulsoup4==4.9.3
certifi==2021.5.30
charset-normalizer==2.0.4
chromedriver-autoinstaller==0.2.2
humanize==3.11.0
idna==3.2
psutil==5.8.0
PyMsgBox==1.0.9
pyperclip==1.8.2
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
PyQt5-stubs==5.15.2.0
python-dateutil==2.8.2
qtgui==0.0.1
QtPy==1.10.0
requests==2.26.0
selenium==3.141.0
six==1.16.0
soupsieve==2.2.1
urllib3==1.26.6
